@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

body {
  text-align: center;
  background-image: url(/Full_Stack_Web_John_Bryce/mesima1/img/tile.jpg);
}

h1 {
  font-family: "Permanent Marker", sans-serif;
  font-style: normal;
  font-size: 65px;
  line-height: 1.75;
  letter-spacing: 0.15em;
  color: rgba(0, 0, 0, 0.8);
  -webkit-font-smoothing: antialiased;
}

.formStyl {
  position: relative;
  background-image: url(/Full_Stack_Web_John_Bryce/mesima1/img/formbg.jpg);
  border: 1px solid black;
  width: 706px;
  height: 174px;
  background-size: contain;
  margin: auto;
}

input[type="text"] {
  background: transparent;
  border: none;
  margin: auto;
  padding: 6px;
  width: 100px;
}

.btn {
  position: relative;
  margin: auto;
  top: -7px;
  left: 5px;
}

/* note styles  */

/* div contain notes  */

.container {
  /* position: fixed; */
  /* justify-content: flex-start; */
  /* display: */
  /* direction: ltr; */
  display: flex;
  /* top: 70%; */
  width: 80%;
  height: 600px;
  padding: 200px;
  flex-wrap: wrap;
  align-content: space-between;
  /* align-items: center; */
  /* justify-content: center; */
}

/* div note  */

.container .noteDiv {
  height: 270px;
  width: 200px;

  animation: fadeIn 2s;
}

/* div note text*/

.container .noteDiv p {
  bottom: 260px;
  position: relative;
  padding: 5px;
  width: 150px;
  height: 150px;
  margin: 5px;
  /* overflow-x: ; */
  overflow-y: auto;
  overflow-wrap: break-word;
}

/* div note date*/

.container .noteDiv .date {
  position: relative;
  bottom: 255px;
  left: -30px;
  font-weight: bold;
}

.container .noteDiv .time {
  position: relative;
  bottom: 235px;
  left: -115px;
  font-weight: bold;
}

.container .noteDiv .signX {
  position: relative;
  bottom: 237px;
  left: 70px;
  visibility: hidden;
}

.noteDiv:hover .signX {
  visibility: visible;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
