body {
  text-align: center;
  background-color: #0093e9;
  background-image: linear-gradient(90deg, #0093e9 0%, #80d0c7 100%);
}

.inputBox {
  margin: auto;
  padding: 40px;
  border: 1px solid black;
  box-shadow: 2px 2px 5px 2px;
  border-radius: 25px;
  width: 200px;
  height: 50%;
  background-color: bisque;
}

input {
  padding: 20px;
}

select {
  padding: 20px;
  width: 205px;
}
table {
  margin: auto;
  font-size: x-large;
}

tbody > td:nth-child(even) {
  margin: auto;
  font-size: x-large;
  background-color: bisque;
}

tbody > td:nth-child(odd) {
  font-size: x-large;
  background-color: coral;
}

.lastDiv {
  margin: auto;
  font-size: x-large;
}
