body {
  text-align: center;
  background-color: #ffffff;
  background-image: linear-gradient(
    90deg,
    #ffffff 0%,
    #6284ff 50%,
    #ff0000 100%
  );
}

.divForm {
  border: 1px solid black;
  padding: 35px;
  margin: auto;
  border-radius: 20px;
  width: 200px;
  box-shadow: 2px 2px 5px 2px;
}
input {
  padding: 10px;
}

table {
  font-size: 25px;
  margin: auto;
}

tbody > tr:nth-child(odd) {
  background-color: antiquewhite;
}

tbody > tr:nth-child(even) {
  background-color: bisque;
}
