body {
  direction: rtl;
  text-align: center;
  background-image: url("https://images1.ynet.co.il/PicServer5/2019/11/27/9623052/Maccabi-2.jpg");
  background-repeat: round;
}

.box {
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 2px 2px 5px 2px gainsboro;
  width: 30%;
  height: 200px;
  overflow: auto;
}

.waiting,
.inside {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.inputStl {
  background-color: #7577eb;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 2px 2px 5px 2px gainsboro;
  width: 30%;
  height: 150px;
  margin: auto;
  padding: 20px;
}

input {
  padding: 20px;
  font-size: 30px;
}

select {
  padding: 20px;
  font-size: 30px;
}

.btn {
  background: linear-gradient(to bottom, #101dce 5%, #4f3aee 100%);
  background-color: #0004eb;
  border-radius: 21px;
  border: 3px solid #0004e9;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 28px;
  font-weight: bold;
  font-style: italic;
  padding: 10px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 8px #2f6627;
}

.btnAdd {
  box-shadow: inset 0px 1px 0px 0px #cf866c;
  background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
  background-color: #d0451b;
  border-radius: 3px;
  border: 1px solid #942911;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 28px;
  padding: 22px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #854629;
}

.btnAdd:active {
  position: relative;
  top: 1px;
}

.myHeader {
  font-size: 200%;
}
