/* שורה ראשונה  */
div:first-child>input:nth-child(even) {
    background-color: green;
}

div:first-child>input:nth-child(odd) {
    background-color: red;
}

/* שורה שנייה  */

div:nth-of-type(2)>input:first-child {
    background-color: green;
}

div:nth-of-type(2)>input:nth-of-type(5) {
    background-color: red;
}

/* שורה שלישית */

div:nth-of-type(3)>input:nth-child(even) {
    background-color: red;
}

/* שורה רביעית */

div:nth-of-type(4)>input:nth-child(odd):hover {
    background-color: pink;
}

/* שורה חמישית */

div:nth-of-type(5)>input:nth-child(even):hover {
    display: none;
}

div:nth-of-type(5)>input:nth-of-type(5):hover {
    display: none;
}