.red {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: red;

    animation: 3s redanim infinite;
}

.blue {
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    background-color: blue;

    animation: 3s blueanim infinite;
}

@keyframes redanim {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.1;
        background-color: blue;

    }
}

@keyframes blueanim {
    100% {
        opacity: 0.1;

    }

    0% {
        opacity: 1;
        background-color: red;
    }
}