body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px dashed black;
    font-style: oblique;
    font-size: x-large;
    display: inline-flexbox
}

body:hover {
    font-size: xx-large;

}

h1 {

    border-radius: 5%;
    width: fit-content;
    height: fit-content;
    text-decoration-color: aqua;

}

h2 {
    font-weight: bolder;
    font-style: italic;
    border-radius: 5%;
    text-decoration: underline;
    text-decoration-color: aqua;
    width: fit-content;
}


img {
    position: sticky;
    margin-left: 74.5%;
    margin-top: 0%;
    height: 380px;
}