body {
  background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: wheat;
  text-align: center;
}

.Box {
  margin: auto;
  padding: 20px;
  width: 250px;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 2px 2px 5px 2px grey;
}

table {
  font-size: 25px;
  margin: auto;
}
